In [1]:
import pandas as pd
import numpy as np
import seaborn as sns
import matplotlib.pyplot as plt
from IPython.core.interactiveshell import InteractiveShell
InteractiveShell.ast_node_interactivity = "all"
%matplotlib inline
import warnings
warnings.filterwarnings("ignore")

In [2]:
pd.set_option("display.max_columns", 10)
# pd.reset_option("display.max_columns")

In [3]:
import datetime as dt

Commonly used classes in the datetime module are:

    date Class
    time Class
    datetime Class
    timedelta Class

In [19]:
dt.datetime.now()
print(dt.datetime.now())
type(dt.datetime.now())

datetime.datetime(2022, 1, 30, 13, 24, 57, 870626)

2022-01-30 13:24:57.870626

datetime.datetime

In [20]:
dt.date.today()
print(dt.date.today())
type(dt.date.today())

datetime.date(2022, 1, 30)

2022-01-30

datetime.date

In [21]:
dt.MAXYEAR
dt.MINYEAR

9999

1

In [34]:
d = dt.date(2019, 4, 13)
print(d)
d.day
d.month
d.year

2019-04-13

13

4

2019

In [36]:
a = dt.time()
print("a =", a)

# time(hour, minute and second)
b = dt.time(11, 34, 56)
print("b =", b)

# time(hour, minute and second)
c = dt.time(hour = 11, minute = 34, second = 56)
print("c =", c)

# time(hour, minute, second, microsecond)
d = dt.time(11, 34, 56, 234566)
print("d =", d)

a = 00:00:00
b = 11:34:56
c = 11:34:56
d = 11:34:56.234566

In [38]:
d.hour
d.minute
d.second
d.microsecond

11

34

56

234566

In [39]:

#datetime(year, month, day)
a = dt.datetime(2018, 11, 28)
print(a)

# datetime(year, month, day, hour, minute, second, microsecond)
b = dt.datetime(2017, 11, 28, 23, 55, 59, 342380)
print(b)

2018-11-28 00:00:00
2017-11-28 23:55:59.342380

In [40]:
t1 = dt.date(year = 2018, month = 7, day = 12)
t2 = dt.date(year = 2017, month = 12, day = 23)
t3 = t1 - t2
print("t3 =", t3)

t4 = dt.datetime(year = 2018, month = 7, day = 12, hour = 7, minute = 9, second = 33)
t5 = dt.datetime(year = 2019, month = 6, day = 10, hour = 5, minute = 55, second = 13)
t6 = t4 - t5
print("t6 =", t6)

print("type of t3 =", type(t3)) 
print("type of t6 =", type(t6))

t3 = 201 days, 0:00:00
t6 = -333 days, 1:14:20
type of t3 = <class 'datetime.timedelta'>
type of t6 = <class 'datetime.timedelta'>

In [41]:
t6-t3

datetime.timedelta(days=-534, seconds=4460)

In [49]:
# current date and time
now = dt.datetime.now()

t = now.strftime("%H:%M:%S")
print("time:", t)

s1 = now.strftime("%m/%d/%Y, %H:%M:%S")
# mm/dd/YY H:M:S format
print("s1:", s1)

s2 = now.strftime("%d/%m/%Y, %H:%M:%S")
# dd/mm/YY H:M:S format
print("s2:", s2)

time: 15:38:10
s1: 01/30/2022, 15:38:10
s2: 30/01/2022, 15:38:10

In [50]:
date_string = "21 June, 2018"
print("date_string =", date_string)

date_object = dt.datetime.strptime(date_string, "%d %B, %Y")
print("date_object =", date_object)

date_string = 21 June, 2018
date_object = 2018-06-21 00:00:00