In [ ]:
import pandas as pd
import numpy as np
import seaborn as sns
import matplotlib.pyplot as plt
from IPython.core.interactiveshell import InteractiveShell
InteractiveShell.ast_node_interactivity = "all"
%matplotlib inline
import warnings
warnings.filterwarnings("ignore")

In [ ]:
pd.set_option("display.max_columns", 10)
# pd.reset_option("display.max_columns")

In [ ]:
path = "D:\\01\\Machine_Learning_DineshKumar_book\\Data\\IPL IMB381IPL2013.csv"

In [ ]:
df = pd.read_csv(path)
df.head()

## summary

In [ ]:
df.ndim
df.shape
df.axes
len(df.axes)
df.index
df.columns

In [ ]:
# df.select_dtypes(include = 'object')
df.info()
df.dtypes
df.count()
df.nunique()

In [ ]:
df.describe()
df.describe().transpose()

In [ ]:
df["AGE"].nunique()
df["AGE"].unique()
df["AGE"].value_counts()

In [ ]:
df["AGE"].value_counts(normalize = True)
df["AGE"].value_counts(normalize = True).plot.bar(title = 'Loan_Status')

In [ ]:
df.columns = df.columns.str.upper().str.replace(" ", "_")

In [ ]:
df[:4]
df.tail()

In [ ]:
df[ ["AGE", "PLAYER_NAME", "BASE_PRICE","SOLD_PRICE" ] ][0:5]

In [ ]:
df.iloc[[1,7,8], [5,5]]
df.iloc[[1,4,2],1:5]

In [ ]:
pd.crosstab(df["AGE"], df[df.columns[3]])

In [ ]:
df[["PLAYER_NAME", "SOLD_PRICE"]].sort_values("SOLD_PRICE")

In [ ]:
df.head()
df["PREMIUM"] = df["SOLD_PRICE"]- df["BASE_PRICE"]

In [ ]:
df.iloc[:, [1, -3,-2, -1]].sort_values("PREMIUM", ascending = False)

In [ ]:
group_age = df.groupby("AGE")

In [ ]:
type(group_age["SOLD_PRICE"].mean())
type(group_age["SOLD_PRICE"].mean().reset_index())

In [ ]:
group_age["SOLD_PRICE"].mean()

In [ ]:
group_age["SOLD_PRICE"].mean().reset_index()

In [ ]:
group_age.groups
group_age.agg(["mean", "count", "sum"])

In [ ]:
df2 = group_age["SOLD_PRICE"].mean().reset_index()

In [ ]:
df.merge(df2, how = "outer", on ="AGE").head().transpose()

In [ ]:
df.info()

In [ ]:
df.head()

In [ ]:
[col for col in df.columns.tolist() if col not in df.describe().columns.tolist()]

In [ ]:
df.rank()

In [ ]:
path = "D:\\myDownloads\\employees.csv"
df = pd.read_csv(path)

In [ ]:
df.info()

In [ ]:
df_bool = df['Gender'].isnull()
df[df_bool]

In [ ]:
df

In [ ]:
a = np.array(["foo", "foo", "foo", "foo",
                 "bar", "bar", "bar", "bar",
                 "foo", "foo", "foo"],
                dtype=object)
  
b = np.array(["one", "one", "one", "two",
                 "one", "one", "one", "two",
                 "two", "two", "one"],
                dtype=object)
  
c = np.array(["dull", "dull", "shiny",
                 "dull", "dull", "shiny",
                 "shiny", "dull", "shiny",
                 "shiny", "shiny"],
                dtype=object)

In [ ]:
pd.crosstab(a, [b, c], rownames=['a'], colnames=['b', 'c'])

In [ ]:
df1 = pd.DataFrame(
    {
        "A": ["A0", "A1", "A2", "A3"],

        "B": ["B0", "B1", "B2", "B3"],

        "C": ["C0", "C1", "C2", "C3"],

        "D": ["D0", "D1", "D2", "D3"],
    },
    index=[0, 1, 2, 3],)
df2 = pd.DataFrame(
    {

        "A": ["A4", "A5", "A6", "A7"],

        "B": ["B4", "B5", "B6", "B7"],

        "C": ["C4", "C5", "C6", "C7"],

        "D": ["D4", "D5", "D6", "D7"],

    },

    index=[4, 5, 6, 7],

)



df3 = pd.DataFrame(

    {

        "A": ["A8", "A9", "A10", "A11"],

        "B": ["B8", "B9", "B10", "B11"],

        "C": ["C8", "C9", "C10", "C11"],

        "D": ["D8", "D9", "D10", "D11"],
        "e": ["e8", "e9", "e10", "e11"],
    },
        index=[4, 5, 6, 7]

)

In [ ]:

frames = [df1, df2, df3]
frames

In [ ]:
pd.concat(frames, ignore_index = False,keys=["x", "y", "z"])

In [ ]:
pd.concat(frames, ignore_index = False,keys=["x", "y", "z"], axis =1)

In [ ]:
pd.concat(frames, ignore_index = True, axis =1)

In [ ]:
df1.append(df2)

In [ ]:
df1['e'] = [1,2,3,4]

In [ ]:
df1.where(df1['e'] >2,10)

In [ ]:
df1.mask(df1['e'] >2,10)

In [ ]:
np.where(df1['e'] >2,20,100).all()

In [ ]:
s = pd.Series(range(5), index=pd.date_range('2020-01-01', periods=5, freq='1D'))

s.rolling(window='2D').sum()

In [ ]:
my_tuple = ('a', 'p', 'p', 'l', 'e',)

In [ ]:
fruits = ("apple", "banana", "cherry", "strawberry", "raspberry")

In [ ]:
my_set = set([1, 2, 3, 2])
print(my_set)
type(my_set)
len(my_set)

In [ ]:
my_set = {1, 3}
print(my_set)

In [ ]:
my_set.add(2)
print(my_set)

In [ ]:
my_set.update([12,1233,1234])
print(my_set)

In [ ]:
my_set.update((212,21233,21234))
print(my_set)

In [ ]:
my_set.update({1.1,1.2,1.3})
print(my_set)

In [ ]:
my_dict = dict({1:'apple', 2:'ball'})

In [ ]:
my_dict

In [ ]:
squares = {1: 1, 2: 4, 3: 9, 4: 16, 5: 25}

In [ ]:
squares.pop(2)

In [ ]:
squares.popitem()

In [ ]:
squares

In [ ]:
del squares[1]

In [ ]:
type(squares)

In [ ]:
squares.items()

In [ ]:
squares = {x: x*x for x in range(6)}

In [ ]:
squares

In [ ]:
squares[7] = 26

In [ ]:
squares.items()
squares.keys()
squares.values()

In [ ]:
l1 = "This will split all words into a list".split()

In [ ]:
"_".join(l1)

In [ ]:
mytuple = ("apple", "banana", "cherry")
myit = iter(mytuple)

In [ ]:
mylist = ["a", "b", "a", "c", "c"]
mylist = list( dict.fromkeys(mylist) )
print(mylist)

In [ ]:
dict.fromkeys(mylist)

In [ ]:
# Initialize the list
my_list = [1, 3, 6, 10]

# square each term using list comprehension
list_ = [x**2 for x in my_list]

# same thing can be done using a generator expression
# generator expressions are surrounded by parenthesis ()
generator = (x**2 for x in my_list)

print(list_)
print(generator)

In [ ]:
plt.style.available
plt.style.use("fivethirtyeight")